body
{
   width: 800px;
   margin: auto;
   margin-bottom: 20px;
   background-color: #172025;
}

a
{
    color: #d12833;
    text-decoration:none;
}

a:visited
{
    color: #d12833;
    text-decoration:none;
}

a:active
{
    color: #d12833;
    text-decoration:none;
}

a:link
{
    color: #d12833;
    text-decoration:none;
}

#corps a:hover
{
    color: #d12833;
    text-decoration:underline;
}

/* L'en-tête */

#en_tete
{
   width: 800px;
   height: 200px;
   background-image: url("images/banniere.png");
   background-repeat: no-repeat;
}

#menu
{
    background-color: #8c9093;
}

#connection
{
   /*margin-left: 140px;
   margin-bottom: 20px;*/
   padding: 5px;
   
   /*color: #B3B3B3;*/
   background-color: #8c9093;
}

#corps
{
   /*margin-left: 140px;
   margin-bottom: 20px;*/
   padding: 5px;
   
   /*color: #B3B3B3;*/
   color: #340a0d;
   background-color: #8c9093;
   font-family: sans-serif, "Arial Black", "Times New Roman", Times, serif;
}

#corps h2
{
   color: #d12833;
   text-align: center;
   font-family: sans-serif, "Arial Black", "Times New Roman", Times, serif;
   text-decoration: underline;
}