/*   Général   */
body {
    margin:0;
    padding:0;
    background-color:#170202;
    /*background-image:url('http://media.steampowered.com/apps/dota2/images/international/main_bg.jpg');
    background-position:center;
    background-repeat: repeat-y;*/
    color:#939393;
    font-family: "Geneva", "Sans";
}

body a{
    color:#939393;}

h3 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;}

h1 {
    color: #808080;
    font-weight: bold;
    text-decoration: underline;
    font-size: 38px;
    text-align: center;}

/*    Haut    */
#menu {
    width: 1040px;
    height: 56px;
    padding-top: 10px;
    position: relative;}

#connection {
    width: 1040px;
    padding-top: 20px;
    position: relative;
    padding-left: 40px;}

#top {
    width: 1040px;}

#wait {
    text-align: center;
    color: grey;}

#background {
    background-image:url(http://media.steampowered.com/apps/dota2/images/international/main_bg.jpg);
    background-repeat: repeat-y;
    background-position: center;}


/*    Menu     */

#menu-accueil{
    float: left; 
    width: 80px;
    height: 50px;
    padding-top: 20px;
    padding-left: 50px;
    color:#E03206; 
    text-decoration: none;
    font-family: "Geneva";
    font-size: 1.20em;}

#menu-accueil a{
    color:#E03206;
    text-decoration: none;}

#menu-hero{
    float: left;
    width: 80px;
    height:50px;
    padding-top: 20px;
    padding-left: 50px;
    color:#E03206;
    text-decoration: none;
    font-family: "Geneva";
    font-size: 1.20em;}

#menu-hero a{
    color:#E03206;
    text-decoration: none;}

#menu-guide {
    float: left;
    width: 80px;
    height:50px;
    padding-top: 20px;
    padding-left: 50px;
    color:#E03206;
    text-decoration: none;
    font-family: "Geneva";
    font-size: 1.20em;}

#menu-guide a{
    color:#E03206;
    text-decoration: none;}

#menu-item {
    float: left;
    width: 80px;
    height:50px;
    padding-top: 20px;
    padding-left: 50px;
    color:#E03206;
    text-decoration: none;
    font-family: "Geneva";
    font-size: 1.20em;}

#menu-item a{
    color:#E03206;
    text-decoration: none;}

#menu-stream {
    float: left;
    width: 80px;
    height:50px;
    padding-top: 20px;
    padding-left: 50px;
    color:#E03206;
    text-decoration: none;
    font-family: "Geneva";
    font-size: 1.20em;}

#menu-stream a{
    color:#E03206;
    text-decoration: none;}

#menu-contact {
    float: left;
    width: 80px;
    height:50px;
    padding-top: 10px;
    padding-left: 50px;
    color:#E03206;
    text-decoration: none;
    font-family: "Geneva";
    font-size: 1.20em;}

#menu-contact a{
    color:#E03206;
    text-decoration: none;}

#fond {
    padding-top: 240px;
    margin: auto;
    background-image:url('images/design/top_bg.jpg');
    background-repeat:no-repeat;
    background-position: top center;
}

#contenu {
    color:grey;
    background-image:url('images/design/main.jpg');
    background-position:center;
    background-repeat: repeat-y;
    width: 1080px;
    margin: auto;
/*padding-bottom: 40px;*/}

#fond-live{
    width: 960px;
    background-image: url(http://media.steampowered.com/apps/dota2/images/international/match_center_top.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 619px;
    position:relative;
    margin:auto;}

#corps {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    /*margin:auto;*/}

#corps h2 {
padding-top: 10px;}

#corps h3 {
    text-align: left;}

#hero {
    padding-top: 10px;
    width: 100%;
    margin: auto;
}

#hero-biographie {
    width: 60%;
    float: left;
}

#hero-info {
    width: 30%;
    margin-left: 65%;
    text-align: center;
}

#spell {
    padding-top: 10px;
    width: 100%;
    margin: auto;
}

#spell-tooltip {
    width: 30%;
    float: left;
    background-color: #808080;
    border: 1px;
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #172025;
    padding: 0px 10px 10px 10px;
    font-family: "Geneva", "Sans";
}

#tooltip {
    width: 30%;
    background-color: #808080;
    border: 1px;
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #172025;
    padding: 0px 10px 10px 10px;
    font-family: "Geneva", "Sans";
}

#spell-video {
    width: 60%;
    margin-left: 30%;
    text-align: center;
}

/*   Footer    */
#footer {
    padding-top: 50px;
    background-image: url('images/design/bottom_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    margin: auto;
    width: 1080px;
    height: 180px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;}

#footer-img {
    text-align: center;
    padding-top: 50px;}
