{% extends "layout.html" %}
{% block body %}
<h2>{{ entries[0]["name"] }}</h2>
<p>
  {{ entries[0]["typ"] }}<br/>
  {{ entries[0]["des"] }}<br/>
  {{ entries[0]["bio"] }}<br/>
  {{ entries[0]["str_start"] }}<br/>
  {{ entries[0]["agi_start"] }}<br/>
  {{ entries[0]["int_start"] }}<br/>
  {{ entries[0]["str_lvl"] }}<br/>
  {{ entries[0]["agi_lvl"] }}<br/>
  {{ entries[0]["int_lvl"] }}<br/>
  {{ entries[0]["life"] }}<br/>
  {{ entries[0]["mana"] }}<br/>
  {{ entries[0]["damages"] }}<br/>
  {{ entries[0]["rang"] }}<br/>
  {{ entries[0]["cast_speed"] }}<br/>
  {{ entries[0]["anim_speed"] }}<br/>
  {{ entries[0]["vision"] }}<br/>
  {{ entries[0]["armor"] }}<br/>
  {{ entries[0]["aspeed"] }}<br/>
  {{ entries[0]["ms"] }}<br/>
  {% for spell in spells %}
  {{ spell["name"] }}<br/>
  {{ spell["des"] }}<br/>
  {{ spell["abi_type"] }}<br/>
  {{ spell["allo_tar"] }}<br/>
       <table>
       <tr>
	 <th>Niveau du sort</th>
	 <th>Cooldown</th>
	 <th>Portee</th>
	 <th>Cout en mana</th>
	 <th>Cout en vie</th>
	 <th>Zone d'Effet</th>
	 <th>Effet</th>
       </tr>
       {% for des in spell_des %}
       {% for elem in des %}
       {% if elem["id_spell"] == spell["id_spell"] %}
       <tr>
	 <td>LvL {{elem["lvl_spell"]}}</td>
	 <td>{{elem["cd"]}}</td>
	 <td>{{elem["rang"]}}</td>
	 <td>{{elem["mana_cost"]}}</td>
	 <td>{{elem["life_cost"]}}</td>
	 <td>{{elem["aoe"]}}</td>
	 <td>{{elem["effect"]}}</td>
       </tr>
       {% endif %}
       {% endfor %}
       {% endfor %}
     </table>
  {% endfor%}
</p>
{% endblock %}
