{% extends "layout.html" %}
{% block body %}
<h1>{{ entries[0]["name"] }}</h1>
<p>
  {{ entries[0]["typ"] }}<br/>
  {{ entries[0]["des"] }}<br/>
  {{ entries[0]["bio"] }}<br/>
  {{ entries[0]["str_start"] }}<br/>
  {{ entries[0]["agi_start"] }}<br/>
  {{ entries[0]["int_start"] }}<br/>
  {{ entries[0]["str_lvl"] }}<br/>
  {{ entries[0]["agi_lvl"] }}<br/>
  {{ entries[0]["int_lvl"] }}<br/>
  {{ entries[0]["life"] }}<br/>
  {{ entries[0]["mana"] }}<br/>
  {{ entries[0]["damages"] }}<br/>
  {{ entries[0]["rang"] }}<br/>
  {{ entries[0]["cast_speed"] }}<br/>
  {{ entries[0]["anim_speed"] }}<br/>
  {{ entries[0]["vision"] }}<br/>
  {{ entries[0]["armor"] }}<br/>
  {{ entries[0]["aspeed"] }}<br/>
  {{ entries[0]["ms"] }}<br/>
</p>
{% endblock %}
