<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >
   <head>
       <title>Dota2-arena !</title>
       <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   </head>
   <body>
     <h1>Dota2 Hero list!</h1>
     <p>
       {% for i in range(len) %}
       <a href= "{{ url_for('hero', name=entries[i]['name']) }}">{{ entries[i]['name'] }}</a><br/>
       {% endfor %}
     </p>
   </body>
</html>
