<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset=utf-8>
    <title>Dota 2 Arena</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wait.css') }}"/>
</head>
<body>
<section id="contenu">
    <div id="fond">
        <div id="menu">
            <div id="menu-accueil">
                <a href="{{ url_for('default') }}">Accueil</a>
            </div>
            <div id="menu-guide">
                <a href="{{ url_for('guide') }}">Guides</a>
            </div>
            <div id="menu-hero">
                <a href="{{ url_for('hero') }}">Heros</a>
            </div>
            <div id="menu-item">
                <a href="{{ url_for('item') }}">Items</a>
            </div>
            <div id="menu-stream">
                <a href="{{ url_for('stream') }}">Stream</a>
            </div>
            <div id="menu-contact">
                <a href="{{ url_for('contact') }}">Nous Contacter</a>
            </div>
        </div>
        <div id="connection">
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Connectez-vous</a>
            <a href="{{ url_for('add_user') }}">Inscription</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Déconnexion</a>
            {% endif %}
        </div>
        <div id="corps">
	  {% with flashes = get_flashed_messages() %}
	  {% if flashes %}
	  <p>
	    {% for message in flashes %}
            {{ message }}<br/>
        {% endfor %}
      </p>
      {% endif %}
	  {% endwith %}
	  {% block body %}{% endblock %}
        </div>
        <div id="footer">
            <div id="footer-img">
                Dota 2 content and materials are trademarks and copyrights of Valve or its licensors. All rights reserved.<br>
                Le contenu de ce site (news, guide) est sous <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br>

                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
