{% extends "layout.html" %}
{% block body %}
{% for ret in entries %}
<h2 style="padding-bottom:0px;"><a href="{{url_for('news', id_news=ret['id'])}}">{{ ret["titre"] }}</a></h2>
<div id="auteur" style="text-align:left;float:left;">Rédigé par {{ ret["auteur"] }}.</div>
<p style="padding-top:20px;">
{{ ret["news"] }}
<div id="date" style="text-align:left;width:50%;float:left;">Posté le {{ ret["date"] }}</div>
<div id="commentaire" style="text-align:right;width:50%;float:right;">Nombre de commentaire : <a href="{{url_for('news', id_news=ret['id'])}}">{{ ret["nb_com"] }}</a></div>
<center><img src="{{url_for('static', filename='images/design/hr.png')}}" style="padding-top: 20px;"/></center>
</p>
{% endfor %}
<br>
{% if page != 1 %}
 <a href="{{url_for('news', page=page - 1)}}">Page Précédante</a>
{% endif %}
{% if page < pagemax %}
<a href="{{url_for('news', page=page + 1)}}">Page Suivante</a>
{% endif %}
{% endblock %}
