{% extends "layout.html" %}
{% block body %}
  <h2>Creation des Spells</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  {% if name==None %}
  <form action="{{ url_for('post_spell') }}" method=post>
   <p>
       <label for="hero">Quel hero voulez vous modifier les sorts?</label><br />
       <select name="hero" id="hero">
	   {% for i in range(len) %}
           <option value="{{ entries[i]['name'] }}">{{ entries[i]['name'] }}</option>
           {% endfor %}
       </select><br />
       <label for="pos_skill">Position du Skill: </label><br />
       <input type="text" name="pos_skill"><br/>
   </p>
   <input type=submit value="Validation">
  </form>
  {% else %}
  <form action="{{ url_for('post_spell', name=name) }}" method=post>
   <p>
     <label for="nam_skill">Nom du Skill: </label><br />
     <input type=text {% if len_entries %} value="{{ entries[0]['nam'] }}" {% endif %} name="nam_skill"> <br/>
     <label for="tooltip">Tooltip du spell: </label><br />
     <textarea  name="tooltip" rows="15" style="width: 100%;">{% if len_entries %}{{ entries[0]['tooltip_untouch'] }}{% endif %}</textarea><br/>
     <label for="pos_skill">Position du Skill: </label><br />
     <input type="text" {% if pos %} value="{{ pos }}" {% endif %} name="pos_skill"><br/>
     <input type="hidden" {% if len_entries %} value="0" {% else %} value="1" {% endif %} name="modif">
     <input type="hidden" {% if len_entries %} value="{{ entries[0]['id'] }}" {% else %} value="" {% endif %} name="id">
   <input type=submit value="Validation">
  </form>
{% endif %}
{% endblock %}
